<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/ ">
       
  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.SimpleLayout"/>
  </appender>
  
  <appender name="RollingFile" class="org.apache.log4j.DailyRollingFileAppender">
            <param name="File" value="/iPaas-Portal-19801.log"/> 
            <param name="DatePattern" value="'.'yyyy-MM-dd"/>
            <layout class="org.apache.log4j.PatternLayout">
                  <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss.SSS} %c %n[%p] %n%m%n"/>
            </layout>            
  </appender>
  <root>
    <priority value ="INFO" />
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="RollingFile"/>
  </root>
</log4j:configuration> 